.wrap {
    height: 60%;
    width: 100%;
    background-image: linear-gradient(darkgoldenrod, darkkhaki);
    position: absolute;
    top: 27%;
    left: 0;

}

.wrap div {
    padding-left: 0.5rem ;
    height: 100%;
    width: 100%;
    border: none;
    background-image: none;
}

.wrap h1 {
    padding-left: 8rem;
    background-color: beige;

}
