header {
    width: 100vw;
    height: 15vh;
    background-image: linear-gradient(darkgoldenrod, darkkhaki);
}

header h1 {
    padding: 5%;
    font-family: Calibri, sans-serif;
}

.wrapperMenu {
    width: 100vw;
    height: 7vh;
    background-color: darkkhaki;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.wrapperMenu li {
    background-color: beige;
    flex-grow: 1;
    line-height: 7vh;
    border: 1px solid lightgrey;
}

.wrapperMenu li:hover {
    border: 1px solid green;
    background-color: antiquewhite;
}

.backgroundOfWeb {
    height: 70vh;
    width: 100vw;
    background-image: linear-gradient(darkgoldenrod, darkkhaki);
    background-color: #cccccc;
    background-position: center;
    background-size: cover;
}

footer {
    width: 100vw;
    height: 8vh;
    background-color: black;
    color: antiquewhite;
    line-height: 8vh;
    text-align: right;
    padding-right: 2%;
}


